aiolimiter
arize-phoenix
asyncio
boto3
botocore
click
cloudpickle
colorlog
datasets>=3.3
diskcache
faiss-cpu
filelock
flock
fsspec
google-cloud-aiplatform
gitpython
html2text
huggingface-hub
ipdb
kaleido==0.2.1
kneed
langchain>0.3
langchain-community
llama-index[agent-lats, agent-openai, callbacks-arize-phoenix, embeddings-azure-openai, embeddings-fastembed, embeddings-huggingface, embeddings-huggingface-optimum, embeddings-openai, llms-anthropic, llms-azure-inference, llms-azure-openai, llms-cerebras, llms-huggingface, llms-ollama, llms-openai, llms-vertex, llms-vllm, multi-modal-llms-openai, program-openai, question-gen-openai, readers-file, readers-llama-parse, retrievers-bm25, vector-stores-faiss, vector-stores-qdrant]==0.10.61
llama-index-postprocessor-colbert-rerank
llama-index-postprocessor-flag-embedding-reranker
llvmlite>=0.44
lz4
maincontentextractor
numba>=0.60
numpy
openinference-instrumentation-llama-index==3.3.1
opentelemetry-exporter-otlp
opentelemetry-sdk
optimum[exporters]>=1.24.0
optuna==4.2.1
overrides
pals
pandas
paretoset
pip
plotly
psycopg2-binary
pydantic-file-secrets
pydantic-settings
python-dotenv
python-slugify
rapidfuzz
ray[client,data,default,serve,tune]==2.46.0
rich
rouge_score
s3fs
scikit-learn
sentencepiece
sqlalchemy
tabulate
trace-opt
transformers==4.48.3
tree-sitter-languages
tree-sitter
tree_sitter_language_pack>=0.7.3
types-protobuf
types-pytz
types-tabulate
vertexai==1.68.0
torch==2.7.0